    <div id="callitwhatyouwant"> 
        <div class="stateofgrace">
<div class="project">Say Hi</div>
<div class="pro">All About Me</div>
        </div><!-- end State Of Grace -->   
    </div><!--end Call It What You Want -->  

<div id="red">
    <div id="badblood">        
        <div id="lovestory">    
            <div class="holyground">
            <div class="who">Who am I?</div>
            <div class="dash">─</div>
            <div class="what">{{ site.data.about.desc}}</div>
            <div class="where">{{ site.data.about.name }} <p></p> {{ site.data.about.location}}</div>
            </div><!-- end Holy Ground --> 
            <div class="holyground" style="background-image: url({{ site.data.about.image }})">
            </div><!-- end Holy Ground --> 
        </div>
<div class="starlight2">Certifications</div>
<div class="tiny-boxes">                
<!-- Begin: HubSpot Academy - Social Media Marketing Certification Course Badge -->
<div class='academy-badge'>
<a href='http://academy.hubspot.com/certification' title='Social Media Marketing Certification Course'>
<img src='https://hubspot-academy.s3.amazonaws.com/prod/tracks/user-badges/f11825516e6c461b9986f965b879be85-1604336385767.png' />
</a>
</div>
<!-- End: HubSpot Academy - Social Media Marketing Certification Course Badge -->              
</div>        
    </div><!-- Bad Blood -->
</div>
