    <div id="callitwhatyouwant"> 
        <div class="stateofgrace">
<div class="project">Say Hi</div>
<div class="pro">All About Me</div>
        </div><!-- end State Of Grace -->   
    </div><!--end Call It What You Want -->  

<div id="red">
    <div id="badblood">        
        <div id="lovestory">    
            <div class="holyground">
        <div class="cruelsummer">
            <div class="who">Who am I?</div>
            <div class="dash">─</div>
            <div class="what">{{ site.data.about.desc}}</div>
            <div class="where">{{ site.data.about.name }} <p></p> {{ site.data.about.location}}</div>
        </div><!-- end Cruel Summer -->
            </div><!-- end Holy Ground --> 
            
            <div class="holyground" style="background-image: url({{ site.data.about.image }})">
            </div><!-- end Holy Ground --> 
        </div>
    </div><!-- Bad Blood -->
</div>
