#pink{margin-top: 50px; margin: 0 auto 50px auto; display: block; max-width: 1305px; min-height: 500px; overflow:hidden;}     

#content{
margin: 0px auto 50px auto; 
position: relative; 
float: center;
}

.post{
margin: 15px; 
padding:15px;
background-color: #fff; 
width: 375px;} 

.post img{
width: 100%;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 10px solid #f15642;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  cursor: pointer;    
}

.post:hover .overlay {
    opacity: 1;
}
    
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
    
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 10px 8px 8px 8px; line-height: 18px; font-family: 'Baloo', cursive; background-color: #f7f7f7; border: 1px solid #f0f0f0; font-size: 18px; text-decoration: none; letter-spacing: 2px; color: #2c2c2c;
text-align: center; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;
}
    
    .text:hover {background: #eee;}
