---
layout: default
--- 
<link rel="stylesheet" type="text/css" href="/assets/contactform.css">

<style type="text/css"> 
@media screen and (max-width: 815px) {
.stateofgrace{margin: 100px 0 0 0;}      
}
</style>

    <div id="callitwhatyouwant"> 
        <div class="stateofgrace">
<div class="project">Contact Me!</div>
<div class="pro">All your questions answered</div>
        </div><!-- end Getaway Car -->   
    </div><!--end Call It What You Want -->

      <div id="badbl00d">
<form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/maypeqwl" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Full Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="" required="">
    <fieldset id="fs-frm-selects">
      <label for="timely">Reason for Contact:</label>
      <select name="timely" id="timely" required="">
        <option value="Choose" selected="" disabled="">Choose</option>
        <option value="1">Graphic Design</option>
        <option value="3">Web Design</option>
        <option value="5">Marketing</option>
        <option value="7">Consultation</option>
        <option value="9">Feedback</option>
      </select>
    </fieldset>
    <label for="message">Message</label>
    <textarea rows="3" name="message" id="message" placeholder="" required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Survey Responses">
  </fieldset>
  <input type="submit" value="Send">
</form>
      </div><!-- end Bad Blood -->  
