---
layout: default
--- 

    <div id="callitwhatyouwant"> 
        <div class="stateofgrace">
<div class="project">Marketing</div>
<div class="pro">Projects by Me</div>
        </div><!-- end State Of Grace -->   
    </div><!--end Call It What You Want -->  

<div id="red">
    <div id="badblood">        
        <iframe width=100% height=800 src="https://docs.google.com/document/d/e/2PACX-1vQbWToDSvP70u-9oTXEhPjxv-Rk0NSXgURNOnLg-EIdIg1XO3ISj06NV8GfPoQ2o0JpmZ8jSO8Pdjcb/pub?embedded=true"></iframe> 
    </div><!-- Bad Blood -->
</div>
