---
layout: default
--- 

<link rel="stylesheet" type="text/css" href="/assets/projects.css">

<style type="text/css">
@media screen and (max-width: 930px) {
.stateofgrace{margin: 80px 0 0 0;}
}      
</style>

<div id="callitwhatyouwant"> 
    <div class="stateofgrace">
        <div class="project">Photography</div>
        <div class="pro">Captured on film</div>
    </div><!-- end State Of Grace -->   
</div><!--end Call It What You Want -->  

    <div id="pink">              
            <div id="content">  
                {% for post in site.posts %} 
{% if post.photo %}                 
  <div class="post">
        <img src="{{ post.images.individualSmall }}"/>
<a href="{{ site.baseurl }}{{ post.url }}"><div class="overlay">
    <div class="text">View <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
</div></a>
  </div> 
{% endif %}                 
                {% endfor %}                  
            </div>                
    </div><!-- end Pink -->
